#services--wrapper:after {
  content: "";
  flex: auto;
}


@media (max-width: 767px) {
  #services--header {
    .align-center();
  }
}

.services--item {
  margin: .5em .5em 1em .5em;
}

@media (min-width: 768px) {
  .services--item {
    width: 22%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services--item {
    width: 42%;
  }
}

@media (max-width: 575px) {
  .services--item {
    width: 100%;
  }
}

#services--key--green:before {
  .bg-green();
}

#services--key--gold:before {
  .bg-gold();
}

#services--key--red:before {
  .bg-red();
}

.services--key--square::before{
  content: '';
  .inline-mid();
  width: 2.5em;
  height: 2.5em;
}