<section id="services--section" class="relative trans padding-top-2 padding-bottom-4 padding-horz-2">
    <div class="margin-auto container">
        <h2 id="services--header" class="ff-robo-c letter-spacing-01 relative z2 font-large font-mid padding-bottom-1">
            Software Experience & Code Examples
        </h2>
        <div id="services--wrapper" class="ff-robo flex-container flex-justify-start"></div>
        <div id="services--key" class="margin-top-2 flex-container flex-justify-start padding-left-1">
            <div id="services--key--green" class="inline-top margin-right-1 margin-bottom-05 services--key--square">
                <span class="inline-block">= Modern, Recent Work</span>
            </div>
            <div id="services--key--gold" class="inline-top margin-right-1 margin-bottom-05 services--key--square">
                <span class="inline-block">= Older Unmaintained Code</span>
            </div>
            <div id="services--key--red" class="inline-top margin-right-1 margin-bottom-05 services--key--square">
                <span class="inline-block">= No Examples Available</span>
            </div>
        </div>
    </div>
</section>
