<section class="youtube--section padding-vert-2">

    <div class="margin-auto container {{ # injectStyles }} {{ . }} {{ / injectStyles }}">
        <h3 class="font-large font-min padding-bottom-05 ff-robo-c  letter-spacing-01">{{ sectionTitle }}</h3>
        {{ # preVideoMarkup }}
        <div class="youtube--pre-video-markup ff-robo">
            {{ & . }}
        </div>
        {{ / preVideoMarkup }}


        <div class="video-container margin-auto">
            <div class="video-wrapper">
                <iframe width="{{width}}" height="{{height}}" src="https://www.youtube.com/embed/{{src}}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        {{ # postVideoMarkup }}
        <div class="youtube--pre-video-markup ff-robo">
            {{ & . }}
        </div>
        {{ / postVideoMarkup }}
    </div>

</section>