<section class="markup--section padding-vert-2">
    <div class="margin-auto container {{ # injectStyles }} {{ . }} {{ / injectStyles }}">

    <h3 class="font-large font-min padding-bottom-05 ff-robo-c letter-spacing-01">{{ sectionTitle }}</h3>
    <div class="ff-robo font-standard font-mid">
        {{ # markup }}
        {{ & . }}
        {{ / markup }}
    </div>
    </div>
</section>