#hero--section {

  @media(min-width:1200px){
    background: url('../img/max/shawn.jpg') top center no-repeat;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    background: url('../img/mid/shawn.jpg') top center no-repeat;
  }

  @media(max-width:767px){
    background: url('../img/min/shawn.jpg') top center no-repeat;
    #hero--caption {
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

    @media(min-width: 768px){
        #hero--caption {
            .vert-mid();
          left: 1%;
          right: 63%;
        }
    }

}

#hero--wrapper,
#hero--section {
  @media(min-width: 1920px){
    background-size: 100%;
  }
  @media(min-width:1200px){
    height: 337px;

  }

  @media(max-width: 1199px){
    height: 270px;
  }
}
