<section id="hero--section">
    <div id="hero--wrapper" class="margin-auto container relative">
        <div id="hero--caption" class="padding-horz-1 padding-vert-05 bg-red font-white font-standard font-mid absolute ff-robo align-center">
                <span class="inline-block">Hi, I'm Shawn.</span> <span class="inline-block">Welcome to my website!</span>
            </div>
    </div>
</section>
