<section class="quad-gallery--section padding-vert-2">
    <div class="container margin-auto {{ # injectStyles }} {{ . }} {{ / injectStyles }}">
        <h3 class="padding-bottom-05 ff-robo-c  letter-spacing-01">{{ sectionTitle }}</h3>
        {{ # preGalleryMarkup }}
        <div class="quad-gallery--pre-gallery-markup ff-robo">
            {{ & . }}
        </div>
        {{ / preGalleryMarkup }}

        <div class="quad-gallery--gallery align-center">
            {{ # images }}
            <figure class="quad-gallery--image">
                <img src="img/{{src}}.{{ext}}" width="{{width}}" height="{{ height }}" alt="{{ alt }}" />
                <figcaption class="quad-gallery--caption">{{&caption}}</figcaption>
            </figure>
            {{ / images }}
        </div>

        {{ # postGalleryMarkup }}
        <div class="quad-gallery--post-gallery-markup ff-robo">
            {{ & . }}
        </div>
        {{ / postGalleryMarkup }}
    </div>

</section>