.quad-gallery--gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .quad-gallery--image {
    width: 22%;
    margin: 5px;
  }
}

@media (min-width: 420px) and (max-width: 767px) {
  .quad-gallery--image {
    width: 50%;
  }
}

@media (max-width: 419px) {
  .quad-gallery--image {
    width: 100%;
  }
}