.container {
  max-width: 1200px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-space-between {
  justify-content: space-around;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.desktop-only {
  display: none !important;
}

@media (min-width: 767px) {
  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: block !important;
  }
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-top {
  .inline-block;
  vertical-align: top;
}

.inline-mid {
  .inline-block();
  vertical-align: middle;
}

// POSITIONING
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.vert-mid {
    top: 50%;
    transform: translate(0, -50%);
}

.full-mid {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.z2 {
  z-index: 2;
}



// COLORS
.bg-red {
  background-color: @red;
}

.bg-gold {
  background-color: @gold;
}

.bg-blue {
  background-color: @blue;
}
.bg-green {
  background-color: @green;
}

.bg-lgrey {
  background: @lgrey;
}

// HOVER COLORS
.bgh-blue:hover {
  background: @blue;
}


// BORDERS
.border-bottom-thin {
  border-bottom: .01em solid #cccccc;
}