@import "../colors";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');

// FONT SIZES
// USING THREE GROUPS OF THREE SIZES

.font-xl {
  .font-max {
    font-size: 50px;
  }
  .font-mid {
    font-size: 40px;
  }
  .font-min {
    font-size: 36px;
  }
}

.font-large {
  &.font-max {
    font-size: 2.35em;
    line-height: 1.55em;
  }
  &.font-mid {
    font-size: 2.25em;
    line-height: 1.35em;
  }
  &.font-min {
    font-size: 2em;
    line-height: 1.25em;
  }
}




.font-standard {
  &.font-max {
    font-size: 1.55em;
    line-height: 1.55em;
  }
  &.font-mid {
    font-size: 1.45em;
    line-height: 1.5em;
  }
  &.font-min {
    font-size: 16px;
  }
}


.font-small {
  &.font-max {
    font-size: 14px;
  }
  &.font-mid {
    font-size: 12px;
  }
  &.font-min {
    font-size: 10px;
  }
}




@media (min-width: 768px) {
  .font-large {
    &.font-max {
      font-size: 2.35em;
      line-height: 1.55em;
    }
    &.font-mid {
      font-size: 3.25vw;
    }
    &.font-min {
      font-size: 3vw;
      line-height: 1.25em;
    }
  }

  .font-standard {
    &.font-max {
      font-size: 2.5vw;
      line-height: 1.225em;
    }
    &.font-mid {
      font-size: 2vw;
      line-height: 1.5em;
    }
    &.font-min {
      font-size: 5vw;
      line-height: 1.5em;
    }
  }
}

@media (max-width: 767px) {
  .font-large {
    &.font-max {
    }
    &.font-mid {
      font-size: 8vw;
    }
    &.font-min {
      font-size: 5vw;
      line-height: 1.5em;
    }
  }
}


@media (min-width: 1200px) {
  .font-large {
    &.font-max {
      font-size: 2.35em;
      line-height: 1.55em;
    }
    &.font-mid {
      font-size: 2.25em;
      line-height: 1.35em;
    }
    &.font-min {
      font-size: 2em;
      line-height: 1.25em;
    }
  }

  .font-standard {
    &.font-max {
      font-size: 1.55em;
      line-height: 1.55em;
    }
    &.font-mid {
      font-size: 1.45em;
      line-height: 1.5em;
    }
    &.font-min {
      font-size: 16px;
    }
  }

}


.font-0 {
  font-size: 0;
}





// ALIGNMENT
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

// WEIGHTS
.bold {
  font-weight: bold;
}


// CASE
.uppercase {
  text-transform: uppercase;
}


// COLORS
.font-white {
  color: @white;
}

.font-blue {
  color: @blue;
}

.font-red {
  color: @red;
}

.font-dgrey {
  color: @dgrey;
}

.font-black {
  color: @black;
}

// HOVER
.font_h-white:hover,
.font_h-white:hover a{
  color: @white;
}

.font_h-green:hover,
.font_h-green:hover a{
  color: @green;
}

// LIST
.no-bull {
  list-style: none;
}

// UNDERLINE MENACE
.no-underline {
  text-decoration: none;
}

// FAMILY
.ff-robo {font-family: 'Roboto', sans-serif; }
.ff-robo-s {font-family: 'Roboto Slab', serif; }
.ff-robo-c {font-family: 'Roboto Condensed', sans-serif;}

.letter-spacing-01 {
  letter-spacing: .1em;
}