.padding-1 {
  padding: 1em;
}

.padding-horz-05 {
  padding-left: .5em;
  padding-right: .5em;
}

.padding-vert-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-vert-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}


.padding-left-1 {
  padding-left: 1em;
}

.padding-vert-05 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.padding-horz-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-horz-2 {
  padding-left: 2em;
  padding-right: 2em;
}



.padding-bottom-1 {
  padding-bottom: 1em;
}
.padding-bottom-05 {
  padding-bottom: .5em;
}
.padding-top-2 {
  padding-top: 2em;
}

.padding-bottom-2 {
  padding-bottom: 2em;
}

.padding-bottom-3 {
  padding-bottom: 3em;
}
.padding-bottom-4 {
  padding-bottom: 4em;
}