<footer id="site-footer" class="bg-blue font-white">

   <div class="container margin-auto align-center padding-1 font-standard font-mid ff-robo-s">
       <span class="inline-block">The year is <span id="footer-date"></span></span>
       <span class="inline-block">Have a fun day!</span>
   </div>

</footer>
