{{=<% %>=}}
<section id="random--section" class="padding-vert-4 padding-horz-2 bg-lgrey">
    <h2 class="font-large font-max align-center ff-robo-s letter-spacing-01">Random Things</h2>
    <%# random %>

        <%# _isMarkup %>
            <% > templates/markup/markup %>
        <%/ _isMarkup %>

        <%# _isQuadGallery %>
        <% > templates/quad-gallery/quad-gallery %>
        <%/ _isQuadGallery %>

        <%# _isYoutube %>
        <% > templates/youtube/youtube %>
        <%/ _isYoutube %>

    <%/ random %>

</section>
