<header id="site-header" class="align-center bg-white padding-1">
    <div class="ff-robo-s">
        <span class="inline-block font-blue font-large font-mid padding-05">Shawn Williams</span>
        <div class="inline-block">
            <span class="inline-block font-red font-standard font-max">Front End</span>
            <span class="inline-block font-red font-standard font-max">Web Developer</span>
        </div>
    </div>
</header>
