<section id="contact--section" class="padding-vert-4 padding-horz-2">
    <div class="margin-auto container">

        <h2 class="font-large font-max ff-robo-c letter-spacing-01 padding-bottom-05">Contact Me</h2>

        <div class="align-center font-large font-min ff-robo-s letter-spacing-01 line-height">
            <div class="margin-bottom-05">
                <span class="inline-block">findme</span>
                <span class="inline-block">@shawnbeta</span>
                <span class="inline-block">.com</span></div>
            <div class="margin-bottom-05">(602) 575-5342</div>
            <div>3031 W. Ann Lane</div>
            <div class="margin-bottom-05">Flagstaff, Arizona 86001</div>
        </div>

    </div>

</section>
