<section id="intro--section" class="padding-vert-2 padding-horz-2">
    <div class="margin-auto container">

    <p class="font-standard font-mid ff-robo-s font-dgrey">
        Below you'll find a list of software I have professional experience with. If you're curious as to whether or not I'd be a good fit or would like to see examples of my work, please reach out to me via the contact form below and I'll respond as soon as possible.
    </p>
    </div>
</section>

