<section id="status--section" class="bg-blue font-white padding-vert-4 padding-horz-2">
    <div class="margin-auto container">

    <h3 class="align-center padding-bottom-1 font-large font-mid ff-robo-s">My Current Status is:</h3>
    <ul class="font-large font-min ff-robo">
        <li class="no-bull padding-bottom-1">Full Time UI Developer @ Deckers Outdoor Corporation</li>
        <li class="no-bull padding-bottom-1">Not accepting new clients at this time.</li>
        <li class="no-bull padding-bottom-1">ATTENTION CURRENT CLIENTS: I am available for bug fixes, security patches and other minor updates on your existing web site.</li>
    </ul>
    </div>
</section>
