{{=<% %>=}}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% PageTitle %></title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />

</head>
<body>


    <main id="main" class="relative trans">

        <% > site-header/site-header %>
        <% > hero/hero %>
        <% > intro/intro %>
        <% > services/services %>
        <% > status/status %>
        <% > contact/contact %>
        <% > random/build/random %>
        <% > site-footer/site-footer %>


    </main>

<script src="js/app.js"></script>
</body>
</html>